{% extends "finances/finances_base.html" %}
{% block finances_content %}

    <form action="{{ url_for("netstik_report") }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Izberi izpisek za uvoz</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="report_file">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Uvozi</button>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            {% for h in transaction_header %}
                <th scope="col">{{ h }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for tr in transactions %}
            <tr>
                {% for h in transaction_header %}
                    {% if h in ["amount_in", "amount_out", "balance"] %}
                        <td>{{ tr[h] | round(2) }}</td>
                    {% else %}
                        <td>{{ tr[h] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}